html {
    background: url(background.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#header {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.30;
    -khtml-opacity: 0.3;
    opacity: 0.5;
    /*Opacity end*/
    color: white;
    position: fixed;
    top: 0;
    left: 150px;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
}

#header #header-content {
    margin: 10px;
}

#header-content h1 {
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 50px;
}

#header-content h2 {
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 36px;
	bottom: -5%;
	position: absolute;
}

#sidebar {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    /*Opacity end*/
    color: white;
    position: fixed;
		top: 150px;
    left: 0;
    width: 150px;
    height: 100%;
    padding: 0;
    margin: 0;
}
#sidebar #sidebar-content {
    margin: 10px;
}

#sidebar-photo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 150px;
		padding: 0;
		margin: 0;
}

#me {
		width: 150px;
		height: 150px;
}

#navigation {
   list-style: none;
   margin: 0;
   padding: 0px;
}

#navigation li {
		position: relative;
    padding-left: 8px;
    margin:0 0 10px 0;
		background-color: #0e478a;
		font-size: 26px;
		font-family: "Andale Mono", AndaleMono, monospace;
}

/* link */
a:link {
    color: #F8F8FF;
}

/* visited link */
a:visited {
    color: #F8F8FF;
}

/* mouse over link */
a:hover {
    color: grey;
}

#whiteboard {
		top: 150px;
		left: 150px;
		width: 92%;
		height: 80%;
		position: fixed;
}

.container {
		top: 150px;
		left: 12%;
		width: 92%;
		/*height: 20%;*/
		padding: 15px;
		position: fixed;
}

.container h1 {
    font-family: sans-serif;
    color: #b3bac6;
    font-size: 40px;
}

.container p {
    font-family: sans-serif;
    color: #b3bac6;
    width: 60%;
    font-size: 22px;
}

.container li {
    font-family: sans-serif;
    color: #b3bac6;
    list-style-type: none;
}

.container a {
  font-family: sans-serif;
  color: #b3bac6;
}

.container a:hover {
    color: grey;
}

#welcome {
  font-size: 50px;
}

.project {
		padding-left: 3%;
		padding-right: 6%;
		top: 8%;
		height: 400px;
		width: 33%;
		float: left;
}

#honeypot {
	  position: relative;
		left: 22%;
		bottom: 10%;
    max-width: 75%;
    max-height: 75%;
}

img {
		max-width:100%;
		max-height:100%;
}

.caption {
		display: block;
		text-align: center;
		font-family: "Andale Mono";
    color: #b3bac6;
}

#honeypot-caption {
  width: 120%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*p {
		font-family: "Andale Mono", AndaleMono, monospace;
		position: absolute;
	  top: auto;
		text-align: center;
		padding-right: 6%
}*/
